*{
  box-sizing: border-box;
}
body{
  margin:0;
  background-image: url("/bg.webp");
  background-size: cover;
}

.header-box{
  color:rgb(255, 255, 255);
  background: linear-gradient(90.41deg, rgb(193, 11, 193) 1.14%, #da6c18 100%);
  display: flex;
  align-items: center;
  gap:20px;
}
.header-box > img{
  margin-left: 15px;
  width:60px;
  border-radius: 50%;
}
.header-box > h1{
  font-size: 30px;
  font-family:cursive,Georgia, 'Times New Roman', Times, serif;
}
main {
  margin-inline: auto;
  padding: 40px;
  max-width: 600px;
}
.form {
  display: grid;
  grid-template: auto auto/ 1fr 1fr;
  gap: 16px;
  margin-bottom: 29px;
  background-color: #faf8e5;
  border-radius: 8px; 
  border:1px solid;
  padding:22px;
}
.form label{
  font-size: 18px;
}
.form input {
  width: 100%;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid ;
  padding: 10px;
}

.form button {
  grid-column: 1/-1;
  border-radius: 5px;
  background: linear-gradient(170deg, rgb(193, 11, 193) 10%, #107682 100%);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

.form input, .form button {
  min-height: 40px;
  font-family: "Karla", sans-serif;
}

.meme {
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meme > img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.meme span {
  position: absolute;
  text-align: center;
  margin-block: 15px;
  padding-inline: 5px;
  font-family: impact, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}